{% extends 'base.html' %}

{% block content %}             {# 默认的块重写行为是覆盖，如果想要向父块追加内容，可以在子块中使用 super() 声明，即 {{ super() }} #}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}   {# 迭代 movies 变量 #}
    <li>{{ movie.title }} - {{movie.year}}   {# 等同于 movie['title'] #}
        <span class="float-right">
            <a class="douban" href="https://www.douban.com/search?source=suggest&q={{ movie.title }}" target="_blank" title="Find this movie on douban.">豆瓣</a>
        </span>
    </li>
    {% endfor %}    {# 使用 endfor 标签结束 for 语句 #}
</ul>
<img alt="Dancing hanpijieni" class="hanpi" src="{{ url_for('static', filename='images/hanpi.gif') }}">
{% endblock %}
